#negara{
	background: url(../img/BACKGROUNDWIDYA.jpg) no-repeat center bottom; 
	-webkit-background-size: 100% 105%;
	-moz-background-size: 100% 105%;
	-o-background-size: 100% 105%;
	background-size: 100% 105%;
}